/*
JOSEPH P. PASAOA
VideoCard Component Styling | YouTube Abbreviated | Unit 4 Assessment
*/


.card-video-link {
  height: 100%;
}

.card-video-box {
  margin: 6px;
  padding: 6px 11px 22px 11px;
}

.card-video-thumbnail {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 3px;
}

.card-video-title {
  margin-top: 11px;
}
